.container{
	width: 100%;
}
.commentbox{
	width: 95%;
	margin: 20px auto;
}
.mytextarea {
	width: 100%;
	overflow: auto;
	word-break: break-all;
	height: 100px;
	color: #000;
	font-size: 1em;
	resize: none;
	}
#comment-list {
    max-width: 100%;
}

#comment-list .comment>.comments {
    padding: 0 1em !important;
    margin-bottom: 0;
}

#comment-list .comment>.comments .comment {
    border-bottom: none;
}
#comment-list .comment {
    width: 95%;
	margin: 0 auto;
	padding: .5em 0;
    border-bottom: 1px dashed #5bc0de;
}

.comment:first-child {
    margin-top: 0;
    padding-top: 0;
}
.comment {
    position: relative;
    margin: .5em 0 0;
    padding: .5em 0 0;
    line-height: 1.2;
}
.comment .avatar {
    display: block;
    width: 2.5em;
    float: left;
    margin: .2em 0 0;
}
.comment .avatar img {
    display: block;
    margin: 0 auto;
    width:35px;
    height: 35px;
    border-radius: 4px;
}
.comment a>img{
    width:17px;
    height: 17px;
    vertical-align: middle;
}
.comment>.avatar~.content {
    margin-left: 3.5em;
}
.comment .author {
    font-size: 1em;
    color: rgba(0,0,0,.87);
    font-weight: 700;
}
.comment a.author {
    cursor: pointer;
}

.comment a.author:hover {
    color: #1e70bf;
}
.metadata {
    display: inline-block;
    margin-left: .5em;
    color: #AAAAAA;
    font-size: .875em;
}

.comment .metadata>:last-child {
    margin-right: 0;
}

.comment .text {
    font-size: 1em;
    word-wrap: break-word;
    color: rgba(0,0,0,.87);
    line-height: 1.3;
}
.comment .text p {
    margin: 2px 0 0 0;
}
.content a {
    cursor: pointer;
}

.btn {
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
.pull-right {
  float: right !important;
}
.nickname{
  width: 25%;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid #AAAAAA;
  border-radius: 4px;
}
.sex{
  width: 30%;
  display: inline-block;
  padding: 6px 3px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  white-space: nowrap;
  vertical-align: middle;
}
